@import "tailwindcss";
@import "./styles/theme.css";

html, body, #root { height: 100%; }
body {
  margin: 0;
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

html { scroll-behavior: smooth; }